<div class="jumbotron">
	<h1>Life is too short not to hack Everything</h1>
	<div class="join_us"><p>Click here to <%= link_to "join us", new_user_registration_path, class: "btn btn-primary btn-lg" %></p></div>
</div>

