<div class="jumbotron">
	<h1>Life is too short not to hack Everything</h1>
	<div class="join_us"><p><%= link_to "Start Hacking", new_user_registration_path, class: "btn btn-warning btn-lg" %></p></div>
</div>

