<div class="jumbotron">
	<h1>Welcome to Lifehack</h1>
	<p>We are all about making life easier and cooler!</p>
	<p>Clikc here to <%= link_to "join us", "#", class: "btn btn-primary btn-lg" %></p>

</div>

 