
// Place all the styles related to the hacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hacks {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 250px;

}

.box img {
	width: 100%;

}

.divbutton {
    height: 100px;
    background: grey;
}

.btn {
	margin-top: 8px;
}

.showimage {
	text-align: center;
	margin: 0 auto;	
}

.hoverimage {
	opacity: 1;

}

.hoverimage:hover {
	opacity: 0.7; 	
}

.social_btns {
	
}

.cmt-form {
  margin-top:30px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}

.post_btn {

}

.num-likes {
	width: 30px;
	display: inline-block;
	text-align: center;
	background-color: #ecf0f1;
}

.awesome-btn {
	width: 90px;
	display: inline-block;
}




