.profile_container {
	width: 70%;
	height: 170px;
	margin: 0 auto;

}

.profile_picture {
	width: 150px;
	height: 150px;
	background-image: url("http://i.imgur.com/9GrOH9h.jpg?1");
	display: inline-block;
	float: left;
}

.profile_info {
	width: 70%;
	height: 150px;
	background-color: white;
	display: inline-block;
	float: left;
}

.tab-container {
	display: inline-block;
}

.follow_btn {
	padding: 10px;
}

#user_name {
	padding: 10px;
}

.relationships {
	margin-bottom: 50px;
}

.followings_container {
	border: 3px solid red;
	height: 800px;
}

.happy {
	width: 300px;
	height: 300px;
	display: inline-block;
	float: left;
}

#following_name {
	font-size: 14px;
	border: 3px solid black;
	color: black;
	display: inline-block;
	float: left;
}

.unfollow_btn {
	width: 90px;
	margin: 0 auto;	
}

.thumbnail {
	background-color: white;
}













